In [1]:
pwd

'C:\\Users\\pawan'

In [2]:
import pandas as pd

In [3]:
heartdata=pd.read_csv('final.csv')

In [4]:
heartdata

,ID,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,29,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
1,57,48,1,0,122,222,0,0,186,0,0.0,2,0,2,1
2,9,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
3,147,44,0,2,118,242,0,1,149,0,0.3,1,1,2,1
4,303,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,228,35,1,0,120,198,0,1,130,1,1.6,1,0,3,0
249,91,48,1,2,124,255,1,1,175,0,0.0,2,2,2,1
250,138,62,1,1,128,208,1,0,140,0,0.0,2,0,2,1
251,202,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
252,46,52,1,1,120,325,0,1,172,0,0.2,2,0,2,1

In [5]:
heartdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        253 non-null    int64
 1   age       253 non-null    int64
 2   sex       253 non-null    int64
 3   cp        253 non-null    int64
 4   trestbps  253 non-null    int64
 5   chol      253 non-null    int64
 6   fbs       253 non-null    int64
 7   restecg   253 non-null    int64
 8   thalach   253 non-null    int64
 9   exang     253 non-null    int64
 10  oldpeak   253 non-null    float64
 11  slope     253 non-null    int64
 12  ca        253 non-null    int64
 13  thal      253 non-null    int64
 14  target    253 non-null    int64
dtypes: float64(1), int64(14)
memory usage: 29.8 KB

In [6]:
heartdata.shape

(253, 15)

In [7]:
heartdata.describe()

,ID,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000
mean,153.339921,53.976285,0.683794,0.980237,131.822134,245.051383,0.138340,0.509881,150.260870,0.332016,1.037945,1.399209,0.691700,2.312253,0.541502
std,88.442134,9.156890,0.465916,1.032990,17.288518,52.583053,0.345941,0.524122,22.538924,0.471870,1.163799,0.612955,1.011742,0.618280,0.499262
min,1.000000,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,90.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,78.000000,47.000000,0.000000,0.000000,120.000000,210.000000,0.000000,0.000000,134.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,152.000000,55.000000,1.000000,1.000000,130.000000,239.000000,0.000000,0.000000,154.000000,0.000000,0.700000,1.000000,0.000000,2.000000,1.000000
75%,230.000000,60.000000,1.000000,2.000000,140.000000,271.000000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,303.000000,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [8]:
heartdata.isnull().sum()

ID          0
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

the catagorical features sex,CP,FBS,restecg,exang,slope,CA ,thaL

In [11]:
sex_dmy = pd.get_dummies(heartdata['sex'], prefix='sex',drop_first=True)
cp_dmy = pd.get_dummies(heartdata['cp'],prefix='cp', drop_first=True)
fbs_dmy = pd.get_dummies(heartdata['fbs'],prefix='fbs', drop_first=True)
restecg_dmy = pd.get_dummies(heartdata['restecg'],prefix='restecg', drop_first=True)
exang_dmy = pd.get_dummies(heartdata['exang'],prefix='exang', drop_first=True)
slope_dmy = pd.get_dummies(heartdata['slope'],prefix='slope', drop_first=True)
ca_dmy = pd.get_dummies(heartdata['ca'],prefix='ca', drop_first=True)
thal_dmy = pd.get_dummies(heartdata['thal'],prefix='thal', drop_first=True)

In [15]:
data = pd.concat([heartdata,sex_dmy,cp_dmy,fbs_dmy,restecg_dmy,exang_dmy,slope_dmy,ca_dmy,thal_dmy], axis=1)

In [43]:
finaldata = data.drop(['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal','ID'],axis=1)

In [44]:
finaldata

,age,trestbps,chol,thalach,oldpeak,target,sex_1,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,65,140,417,157,0.8,1,0,0,1,0,...,0,0,1,1,0,0,0,0,1,0
1,48,122,222,186,0.0,1,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,52,172,199,162,0.5,1,1,0,1,0,...,0,0,1,0,0,0,0,0,0,1
3,44,118,242,149,0.3,1,0,0,1,0,...,0,1,0,1,0,0,0,0,1,0
4,57,130,236,174,0.0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,35,120,198,130,1.6,0,1,0,0,0,...,1,1,0,0,0,0,0,0,0,1
249,48,124,255,175,0.0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,1,0
250,62,128,208,140,0.0,1,1,1,0,0,...,0,0,1,0,0,0,0,0,1,0
251,60,125,258,141,2.8,0,1,0,0,0,...,1,1,0,1,0,0,0,0,0,1
252,52,120,325,172,0.2,1,1,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [46]:
finaldata.describe()

,age,trestbps,chol,thalach,oldpeak,target,sex_1,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
count,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,...,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000
mean,53.976285,131.822134,245.051383,150.260870,1.037945,0.541502,0.683794,0.173913,0.284585,0.079051,...,0.332016,0.466403,0.466403,0.209486,0.118577,0.055336,0.019763,0.059289,0.545455,0.387352
std,9.156890,17.288518,52.583053,22.538924,1.163799,0.499262,0.465916,0.379786,0.452111,0.270354,...,0.471870,0.499859,0.499859,0.407749,0.323931,0.229088,0.139460,0.236632,0.498917,0.488111
min,29.000000,94.000000,126.000000,90.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.000000,120.000000,210.000000,134.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,55.000000,130.000000,239.000000,154.000000,0.700000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,60.000000,140.000000,271.000000,166.000000,1.600000,1.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,77.000000,200.000000,564.000000,202.000000,6.200000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
from sklearn.preprocessing import StandardScaler
standardScaler = StandardScaler()

In [21]:
feature_scale = ['age','trestbps','chol','thalach','oldpeak']

In [22]:
finaldata[feature_scale] = standardScaler.fit_transform(finaldata[feature_scale])

In [45]:
finaldata

,age,trestbps,chol,thalach,oldpeak,target,sex_1,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,65,140,417,157,0.8,1,0,0,1,0,...,0,0,1,1,0,0,0,0,1,0
1,48,122,222,186,0.0,1,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,52,172,199,162,0.5,1,1,0,1,0,...,0,0,1,0,0,0,0,0,0,1
3,44,118,242,149,0.3,1,0,0,1,0,...,0,1,0,1,0,0,0,0,1,0
4,57,130,236,174,0.0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,35,120,198,130,1.6,0,1,0,0,0,...,1,1,0,0,0,0,0,0,0,1
249,48,124,255,175,0.0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,1,0
250,62,128,208,140,0.0,1,1,1,0,0,...,0,0,1,0,0,0,0,0,1,0
251,60,125,258,141,2.8,0,1,0,0,0,...,1,1,0,1,0,0,0,0,0,1
252,52,120,325,172,0.2,1,1,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [24]:
x= finaldata.drop(['target'],axis=1)

In [25]:
y = finaldata['target']

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [49]:
len(X_train)

202

In [31]:
len(X_test)

51

In [32]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [40]:
model_param = {
    'DecisionTreeClassifier':{
        'model':DecisionTreeClassifier(),
        'param':{
            'criterion': ['gini','entropy']
        }
    },
        'RandomForestClassifier':{
        'model':RandomForestClassifier(),
        'param':{
            'n_estimators': [20,50,80,120,150]
        }
    },
        'KNeighborsClassifier':{
        'model':KNeighborsClassifier(),
        'param':{
            'n_neighbors': [5,10,15,20,25]
        }
    },
     
}

In [41]:
scores =[]
for model_name, mp in model_param.items():
    model_selection = GridSearchCV(estimator=mp['model'],param_grid=mp['param'],cv=5,return_train_score=False)
    model_selection.fit(x,y)
    scores.append({
        'model': model_name,
        'best_score': model_selection.best_score_,
        'best_params': model_selection.best_params_
    })

In [42]:
df_model_score = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df_model_score

                    model  best_score            best_params
0  DecisionTreeClassifier    0.992078  {'criterion': 'gini'}
1  RandomForestClassifier    1.000000  {'n_estimators': 150}
2    KNeighborsClassifier    0.996000     {'n_neighbors': 5}

In [36]:
model_rfc = RandomForestClassifier(n_estimators = 120)

In [37]:
model_rfc.fit(X_train,y_train)

RandomForestClassifier(n_estimators=120)

In [38]:
model_rfc.score(X_test,y_test)

1.0